<div id="pin_show" class="row">
  <div class="col-md-6 col-md-offset-3">
    <div class="panel panel-default">
      <div class="panel-heading pin_image">
        <%= image_tag @pin.image.url(:medium) %>
      </div>
      <div class="panel-body">
        <h2><%= @pin.title %></h2>
        <p class="description"><%= @pin.description %></p>
      </div>
      <div class="panel-footer">
        <div class="row">
          <div class="col-md-6">
            <small class="user"> Submitted by : <span class="text-success"><%= @pin.user.email %> </span></small>
            <br/>
            <small class="text-danger"><%= @pin.created_at.strftime("%dth %B %Y") %></small>
          </div>
          <% if user_signed_in? %>
            <div class="col-md-6">
              <div class="btn-group pull-right">
                <%= link_to "Edit", edit_pin_path, class: "btn btn-default text-success" %>
                <%= link_to "Delete", pin_path, method: :delete, data: {confirm: "Are you sure?"}, class: "btn btn-default text-danger" %>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>